@import "tailwindcss";


*{ font-family: Outfit; }

@theme {
  --font-family: "ovo", "serif";
  --font-family: "outfit", "sans-serif";
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
    --color-dark: #11001f;
  
  /* ... */
}




body{
  background-color: #f5f5f5;
 
};